<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:if condition="{paginator.numberOfPages} > 1">
    <ul class="f3-widget-paginator">
        <f:comment><!-- First --></f:comment>
        <f:if condition="{f:translate(key:'pagination_first')}">
            <f:if condition="{demand.currentPage} == {pagination.firstPageNumber}">
                <f:then>
                    <li class="first">
                        <span><f:translate key="pagination_first"/></span>
                    </li>
                </f:then>
                <f:else>
                    <li class="first">
                        <f:link.action>
                            <f:translate key="pagination_first"/>
                        </f:link.action>
                    </li>
                </f:else>
            </f:if>
        </f:if>

        <f:comment><!-- Previous --></f:comment>
        <f:if condition="{f:translate(key:'pagination_previous')}">
            <f:if condition="{pagination.previousPageNumber}">
                <f:then>
                    <li class="previous">
                        <f:if condition="{pagination.previousPageNumber} == {pagination.firstPageNumber}">
                            <f:then>
                                <f:link.action>
                                    <f:translate key="pagination_previous"/>
                                </f:link.action>
                            </f:then>
                            <f:else>
                                <f:render section="BuildLink"
                                          arguments="{pageNumber:pagination.previousPageNumber,linkText:'{f:translate(key:\'pagination_previous\')}'}" />
                            </f:else>
                        </f:if>
                    </li>
                </f:then>
                <f:else>
                    <li class="previous">
                        <span><f:translate key="pagination_previous"/></span>
                    </li>
                </f:else>
            </f:if>
        </f:if>

        <f:comment><!-- Numbered pages --></f:comment>
        <f:for each="{pagination.allPageNumbers}" as="pageNumber">
            <f:if condition="{pageNumber} == {demand.currentPage}">
                <f:then>
                    <li class="current">
                        <span>{pageNumber}</span>
                    </li>
                </f:then>
                <f:else>
                    <li>
                        <f:if condition="{pageNumber} > 1">
                            <f:then>
                                <f:render section="BuildLink"
                                          arguments="{pageNumber:pageNumber}" />
                            </f:then>
                            <f:else>
                                <f:link.action>
                                    {pageNumber}
                                </f:link.action>
                            </f:else>
                        </f:if>
                    </li>
                </f:else>
            </f:if>
        </f:for>

        <f:comment><!-- Next --></f:comment>
        <f:if condition="{f:translate(key:'pagination_next')}">
            <f:if condition="{pagination.nextPageNumber}">
                <li class="next">
                    <f:render section="BuildLink"
                              arguments="{pageNumber:pagination.nextPageNumber,linkText:'{f:translate(key:\'pagination_next\')}'}}" />
                </li>
            </f:if>
        </f:if>

        <f:comment><!-- Last --></f:comment>
        <f:if condition="{f:translate(key:'pagination_last')}">
            <f:if condition="{demand.currentPage} == {pagination.lastPageNumber}">
                <f:then>
                    <li class="last">
                        <span><f:translate key="pagination_last"/></span>
                    </li>
                </f:then>
                <f:else>
                    <li class="last">
                        <f:link.action additionalParams="{demand:{currentPage:pagination.lastPageNumber}}">
                            <f:translate key="pagination_last"/>
                        </f:link.action>
                    </li>
                </f:else>
            </f:if>
        </f:if>
    </ul>
</f:if>

<f:section name="BuildLink">
    <f:link.action additionalParams="{tx_golb_listview: {demand: {currentPage: pageNumber}}}">
        <f:if condition="{linkText}">
            <f:then>{linkText}</f:then>
            <f:else>{pageNumber}</f:else>
        </f:if>
    </f:link.action>
</f:section>
</html>